*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-image: url("image/background-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1900px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.container-star-wars-title{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.container-title{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
}

.container-title img{
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;
    position: relative;
    top: 3rem;
}

.fig-kylo-ren{
   margin: 0 auto;
   width: 100%;
   height: 32rem;
}

.kylo-ren-image{
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
    position: relative;
    right: 8%;
    z-index: 73;
}

.container-page-next{
    max-width: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 20%;
    bottom: 0;
}

.text-page{
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    width: max-content;
}

.text-page h3{
    font-weight: 400;
    font-size: 1.25em;
}

.container-divisa-page{
    width:7.5em;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.number-page{
    width: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.number-page h3{
    font-weight: 400;
}

.divisa-page{
    width: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.divisa-page img{
    width: 20px;
    background-color: #A9BDC1;
}
.divisa-page img:hover{
    width: 20.5px;
    background-color: #566366;
    cursor: pointer;
} 

@media (max-width: 475px) {
    header{
        background-image: url("image/background-header.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 auto;
        position: relative;
        width: 100%;
    }

    .container-star-wars-title{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    .fig-kylo-ren{
        margin: 0 auto;
        width: 100%;
        position: relative;
        height: 13rem;
    }

    .kylo-ren-image{
        margin: 0 auto;
        max-width: 20rem;
        width: 100%;
        position: absolute;
        z-index: 73;
        left: 0;
        top: 0;
    }

    .container-title{
        width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        gap: 4.5rem;
        left: 5rem;
        bottom: 4.25rem;
    }

    .container-title figure{
        width: 9rem;
    }

    .container-title img{
        max-width: 7rem;
        width: 100;
        height: 1.75rem;
        top: 0;
    }

    .container-page-next{
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        z-index: 12;
        left: 75%;
        top: 72%;
    }

    .text-page{
        border-bottom: 3px solid black; 
        width:100%;
    }
    
    .text-page h3{
        font-weight: 400;
        font-size: 0.75rem;
    }
    
    .container-divisa-page{
        width: 4.5rem;
        height: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .number-page{
        width: 2rem;
        height: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        
    }
    
    .number-page h3{
        font-weight: 400;
        font-size: 0.75rem;
    }

    .number-page p{
        font-size: 0.5rem;
    }
    
    .divisa-page{
        width: 2.75rem;
        height: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    .divisa-page img{
        width: 1.05rem;
        background-color: #A9BDC1;
        align-items: center;
    }
    .divisa-page img:hover{
        width: 1.10rem;
        background-color: #566366;
        cursor: pointer;
    } 
}

main{
    width: 100%;
    margin: 0 auto;
    max-width: 1900px;
    position: relative;
}

#container-star-wars-game{
    background-image: url("image/Robot.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#container-battlebox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container-game{
    margin: 0 auto;
    width: 60.5rem;
    height: 24rem;
    border-bottom: 3px solid #707070;
    position: relative;
    display: flex;
    flex-direction: row;
}

.container-start-the-game{
    margin: 0 auto;
    width: 16rem;
    height: 22rem;
    color: #fff;
    background-image: url("image/strom-trupe-red.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -2.5rem;
    z-index: 94;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-start-the-game h2{
    height: 5rem;
    width: 7rem;
    margin: 0 auto;
}

.container-start-the-game p{
    margin: 0 auto;
    width: 13rem;
    font-size: small;
    font-weight: 300;
    text-align: justify;
}

.container-start-the-game button{
    width: 8rem;
    height: 2rem;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
    transition: 0.3s ease-in;
}

.container-start-the-game button:hover{
    background-color: #fff;
    color: red;
    cursor: pointer;
}

.container-start-the-game h6{
    width: 15rem;
    font-weight: 300;
    font-size: 10px;
    text-align: right;
}

.container-about-the-game{
    width: 100%;
    display: flex; 
    padding-bottom: 70px;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}

.container-text-about{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}

.container-text-about p{
    font-size: 0.85rem;
    text-align: right;
    width: 19rem;
    padding-top: 17px;
}

.container-text-about h2{
    text-align: right;
    height: 3rem;
}

.container-text-about span{
    border-bottom: 3px solid black;
    width: 9rem;
}

.battlefront-image{
    width: 18rem;
    padding-top: 8px;
}

#container-structure-game{
    margin: 0 auto;
    width: 62rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.lord-sifh-image{
    padding-top: 5px;
    width: 37.5rem;
    position: absolute;
    top: 24rem;
}

.selection-structure{
    margin: 0 auto;
    width: 21rem;
    height: 22rem;
    text-align: right;
    position: relative;
    z-index: 180;
    bottom: 9rem;
    left: 12.5rem;
}

.selection-structure h2{
    font-size: 3rem;
    font-weight: 600;
}

.selection-structure b{
    font-weight: 800;
}

.selection-structure ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.selection-structure li{
    list-style: none;
    font-size: 1.20rem;
    font-weight: 500;
    transition: 0.25s ease-in-out;
}

.selection-structure li:hover{
    color: #fff;
    cursor: pointer;
    background-color: #D74430;
}

.rey-image{
    width: 18rem;
    position: relative;
    top: 4rem;
}

@media (max-width: 475px){
    main{
        width: 100%;
        margin: 0 auto;
        max-width: 1900px;
        position: relative;
    }
    
    #container-star-wars-game{
        background-image: url("image/Robot.png");
        background-repeat: no-repeat;
        background-size: 325px;
    }
    
    #container-battlebox{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .container-game{
        margin: 0 auto;
        height: 55rem;
        width: 100%;
        position: relative;
        right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: none;
    }
    
    .container-start-the-game{
        margin: 0 auto;
        width: 18rem;
        height: 24rem;
        color: #fff;
        background-image: url("image/strom-trupe-red.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 3.5rem;
        left: 39.5%;
        z-index: 94;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .container-start-the-game h2{
        height: 5rem;
        width: 7rem;
        margin: 0 auto;
    }
    
    .container-start-the-game p{
        margin: 0 auto;
        width: 13rem;
        font-size: small;
        font-weight: 300;
        text-align: justify;
    }
    
    .container-start-the-game button{
        width: 8rem;
        height: 2rem;
        margin: 0 auto;
        border: 2px solid #fff;
        border-radius: 5px;
        background: none;
        color: #fff;
        transition: 0.3s ease-in;
    }
    
    .container-start-the-game button:hover{
        background-color: #fff;
        color: red;
        cursor: pointer;
    }
    
    .container-start-the-game h6{
        width: 15rem;
        font-weight: 300;
        font-size: 10px;
        text-align: right;
    }
    
    .container-about-the-game{
        width: 100%;
        display: flex; 
        flex-direction: column-reverse;
        justify-content: left;
    }
    
    .container-text-about{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .container-text-about p{
        font-size: 0.85rem;
        text-align: right;
        width: 23rem;
        padding-top: 17px;
        padding-bottom: 15px;
        border-bottom: 4px solid #707070;
    }
    
    .container-text-about h2{
        text-align: right;
        height: 1.5rem;
        font-weight: 800;
        font-size: 1rem;
    }
    
    .container-text-about span{
        border-bottom: 3px solid black;
        width: 9rem;
    }
    
    .battlefront-image{
        width: 18rem;
        padding-top: 8px;
    }
    
    #container-structure-game{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .lord-sifh-image{
        width: 15rem;
        position: absolute;
        top: 52rem;
        left: 0.5rem;
    }
    
    .selection-structure{
        margin: 0 auto;
        width: 11rem;
        height: 10rem;
        text-align: right;
        position: relative;
        z-index: 180;
        bottom: 1rem;
        left: 3.25rem;
    }

    .box-title{
        width: 10.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .selection-structure h2{
        font-size: 1.25rem;
        font-weight: 600;
        width: 8rem;
    }
    
    .selection-structure b{
        font-weight: 800;
    }
    
    .selection-structure ul{
        height: 6.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .selection-structure li{
        list-style: none;
        font-size: 9px;
        font-weight: 500;
        transition: 0.25s ease-in-out;
    }
    
    .selection-structure li:hover{
        color: #fff;
        cursor: pointer;
        background-color: #D74430;
    }
    
    .fig-rey{
        width: 8.5rem;
        position: relative;
        right: 4rem;
        bottom: 16rem;
        right: 2rem;
    }

    .rey-image{
        width: 7.5rem;
        position: absolute;
    }
}

#container-attributes-game{
    background-color: #2D2D2D;
}

#container-attributes-game h2{
    margin: 0 auto;
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    padding: 150px 0 35px 0;
    width: 60rem;
}

#container-attributes-game h3{
    margin: 0 auto;
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    padding: 150px 0px;
    width: 60rem;
    text-align: center;
}

.box-attribute-gallery{
    margin: 0 auto;
    width: 74rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.box-attribute-gallery img:hover{
    background-image: url(image/Grupo\ novos\ graficos.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    animation: imageMain 0.25s linear forwards;
}

.box-attribute-gallery img{
    max-width: 18.40rem;
    width: 100%;
}

.box-attribute-gallery .star-wars-battle-image{
    max-width: 37rem;
    width: 100%;
}

.box-hierarchy-character{
    margin: 0 auto;
    width: 74rem;
    margin-top: 25px;
}

.stormtrooper-hierarchy-image{
    width: 100%;
}

.box-hierarchy-character figcaption{
    padding: 10px 0;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    text-align: right;
}

.box-display-info{
    display:none;
}

@media (max-width: 475px){
    #container-attributes-game{
        background-color: #2D2D2D;
    }
    
    #container-attributes-game h2{
        margin: 0 auto;
        color: #fff;
        font-weight: 800;
        font-size: 1.25rem;
        padding: 50px 0 35px 0;
        text-align: center;
        width: 25rem;
    }
    
    #container-attributes-game h3{
        margin: 0 auto;
        color: #fff;
        font-weight: 800;
        font-size: 1.20rem;
        padding: 50px 0 35px 0;
        text-align: right;
        width: 21rem;
    }
    
    .box-attribute-gallery{
        margin: 0 auto;
        width: 25rem;
        height: 77rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .box-attribute-gallery img{
        max-width: 25rem;
        width: 100%;
    }

    .box-attribute-gallery img:hover{
        background-image: url(image/Grupo\ novos\ graficos.png);
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        animation: imageMain 0.25s linear forwards;
    }

    .box-hierarchy-character{
        margin: 0 auto;
        width: 100%;
    }

    .stormtrooper-hierarchy-image{
        width: 100%;
        padding-top: 5px;
    }
    
    .box-hierarchy-character figcaption{
        padding-top: 10px;
        padding-right: 25px;
        color: #fff;
        font-weight: 300;
        font-size: 8px;
        text-align: right;
    }
    
}

#container-how-to-play{
    margin: 0 auto;
    width: 74rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fig-stormtrooper-selection{
    width: 37rem;
    position: relative;
    bottom: 20rem;
}

.stormtrooper-selection-image{
    width: 100%;
}

.box-selection-play{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box-selection-play div{
    height: 14.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box-selection-play div h2{
    font-size: 2rem;
    font-weight: 300;
    transition: 0.25s ease-out;
}

.box-selection-play div button{
    border: none;
    background-color: black;
    box-shadow: inset 0 0 0 0 #31302b;
    color: white;
    width: 10rem;
    height: 3rem;
    font-size: 1.15rem;
    font-weight: 300;
    transition: 0.8s ease-out;
}

.box-selection-play div p{
    font-size: 13px;
    text-align: center;
    width: 8rem;
}

.box-selection-play div span{
    background-color: black;
    width: 4.5rem;
    height: 0.25rem;
    transition: 0.8s ease-out;
}

.box-selection-play div button:hover{
    background-color: #D74430;
    box-shadow: inset -12.5rem 0 0 0 #bd0f0f;
    cursor: pointer;
}

.box-selection-play div:hover span:not(:hover){
    box-shadow: inset -4rem 0 0 0 #e41d1d;
    background-color: #D74430;
}

.box-selection-play div:hover h2:not(:hover){
    font-weight: 700;
}

@media (max-width: 475px){
    #container-how-to-play{
        margin: 0 auto;
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .fig-stormtrooper-selection{
        width: 100%;
        position: relative;
        bottom: 2rem;
    }
    
    .stormtrooper-selection-image{
        width: 30rem;
        position: absolute;
        right: -4.5rem;
        top: -4.5rem;
        overflow: hidden;
    }
    
    .box-selection-play{
        width: 35rem;
        height: 36rem;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .box-selection-play div{
        height: 15rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .box-selection-play div h2{
        font-size: 2rem;
        font-weight: 300;
        transition: 0.25s ease-out;
    }
    
    .box-selection-play div button{
        border: none;
        background-color: black;
        box-shadow: inset 0 0 0 0 #31302b;
        color: white;
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        font-weight: 300;
        transition: 0.8s ease-out;
    }
    
    .box-selection-play div p{
        font-size: 13px;
        text-align: center;
        width: 8rem;
    }
    
    .box-selection-play div span{
        background-color: black;
        width: 4.5rem;
        height: 0.25rem;
        transition: 0.8s ease-out;
    }

    .box-selection-play div button:hover{
        background-color: #D74430;
        box-shadow: inset -12.5rem 0 0 0 #bd0f0f;
        cursor: pointer;
    }
    
    .box-selection-play div:hover span:not(:hover){
        box-shadow: inset -4rem 0 0 0 #e41d1d;
        background-color: #D74430;
    }
    
    .box-selection-play div:hover h2:not(:hover){
        font-weight: 700;
    }
}

footer{
    margin: 0 auto;
    max-width: 1900px;
    width: 100%;
    height: 38rem;
    display: flex;
    flex-direction: row;
}

#container-download-platform{
    margin: 0 auto;
    width: 100%;
    color: #fff;
    background-color: #FF5A56;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-application{
    max-width: 60%;
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-application h2{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.box-application p{
    font-size: 0.85rem;
    font-weight: 300;
    text-align: left;
}

.box-platform-images{
    width: 100%;
    max-width: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box-platform-images img{
    width: 100%;
    max-width: 15rem;
}

.box-application span{
    width: 100%;
    height: 0.25rem;
    background-color: #D74430;
    margin-bottom: 10px;
}

.title-footer-star-wars{
    width: 15rem;
}

.darth-vader-image{
    width: 34rem;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
}

#container-copyright{
    margin: 0 auto;
    width: 100%;
    max-width: 28rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.box-text-copyright{
    width: 22rem;
    margin-bottom: 20px;
}

.box-text-copyright p{
    font-size: 0.55rem;
    font-weight: 300;
}

@media (max-width: 475px){
    
    footer{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #container-download-platform{
        margin: 0 auto;
        width: 100%;
        height: 45rem;
        color: #fff;
        background-color: #FF5A56;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .box-application{
        width: 100%;
        max-width: 85%;
        padding: 0;
        height: 32rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .box-application h2{
        font-size: 4rem;
        font-weight: 800;
        padding-top: 25px;
        margin-bottom: 0;
    }

    .box-application p{
        font-size: 0.85rem;
        font-weight: 300;
        text-align: left;
        margin-bottom: 10px;
    }

    .box-platform-images{
        width: 25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .box-platform-images img{
        width: 12rem;
    }

    .box-application span{
        width: 100%;
        height: 0.25rem;
        background-color: #D74430;
        margin: 0 0 10px 0;
    }

    .title-footer-star-wars{
        width: 13rem;
    }

    #container-copyright{
        margin: 0 auto;
        width: 100%;
        height: 23rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .darth-vader-image{
        width: 25rem;
        position: absolute;
        right: 2rem;
        bottom: 4rem;
    }

    .box-text-copyright{
        width: 22rem;
        margin-bottom: 20px;
    }

    .box-text-copyright p{
        font-size: 0.55rem;
        font-weight: 300;
    }
    
}

@keyframes  imageMain{
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.025);
    }
}



